#!/bin/bash
################################################################################
API_URL={{ jumpcoud_api_url }}
SYSTEM_KEY={{ jc_system_key.stdout }}

if [ "$SYSTEM_KEY" = "" ]; then
  logger -t jumpcloud-tag_system -i "ERROR: Failed to retrieve SYSTEM_KEY after $ATTEMPT attempts"

  # Exit with code 0 so the chef-client run can continue.
  exit 0

  # Remove this script so it's creation during the next Chef run will trigger it
  # to be executed again.
  rm /usr/local/bin/jumpcloud-tag_system.sh

fi
################################################################################
# Create signing string
NOW=`date -u "+%a, %d %h %Y %H:%M:%S GMT"`;
SIGN_STRING="PUT /api/systems/$SYSTEM_KEY HTTP/1.1\ndate: $NOW"
################################################################################
# Create signature
SIGNATURE=`printf "$SIGN_STRING" | openssl dgst -sha256 -sign /opt/jc/client.key | openssl enc -e -a | tr -d '\n'`
################################################################################
# Retrieve tags from our role
TAGS="intapps-pipe-provision"
#TAGS=`echo '<%= @node['jumpcloud']['tags'] %>' | sed s/\"/'\\'\"/g`
# Append our Chef environment as a tag to the array
#TAGS=`echo $TAGS | sed s/\]/\,\ \"<%= @node.chef_environment %>\"\]/`
################################################################################
# Update tag(s)
logger -t jumpcloud-tag_system -i "Tagging this system with $TAGS"
curl -iq \
  -d "{\"tags\" : $TAGS}" \
  -X "PUT" \
  -H "Content-Type: application/json" \
  -H "Accept: application/json" \
  -H "Date: $NOW" \
  -H "Authorization: Signature keyId=\"system/$SYSTEM_KEY\",headers=\"request-line date\",algorithm=\"rsa-sha256\",signature=\"$SIGNATURE\"" \
  --url $API_URL/systems/$SYSTEM_KEY 2>&1 | logger -t jumpcloud-tag_system -i
